.product-item{
	margin-bottom: 25px;
	padding-bottom: 16px;
	position: relative;
	background-color: white;
	box-shadow: 0 0 3px rgba(0,0,0,0.13);	 
	&__header{
		display: flex;
	}
	&__logo-image{
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
	&__product-info{
		padding-left: 16px;
		padding-top: 2px;
	}
	&__product-name{
		font-size: 16px;
		color: $brownish-grey;
		line-height: 16px;
		margin-bottom: 0;
	}
	&__company-name{
		color: $glass-grey;
		font-size: 13px; 
	}
	&__image{
		width: 100%;
		min-height: 190px;  
	}
	&__description-block{
		color: $glass-black;
		font-size: 14px; 
	}
	&__actions-block{
		padding-left: 7px;
	}
	
	&__remove-btn{
		position: absolute;
		top: 10px;
		right: 16px;
		font-size: 20px;
		color: $glass-grey;
		display: none;
		&:hover{
			cursor: pointer;
		}
	}
	&:hover{
		box-shadow: 0 2px 16px rgba(0,0,0,0.13);
		.product-item__remove-btn{
			display: block;
		}
	}	
}
