.products-board{
	margin-left: -15px;
	margin-right: -15px;
	&__header{
		margin-left: 15px;
	}
	&__header-wrapper{
		display: flex;
		justify-content: space-between;
	}
	&__actions-container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.product-add-btn{
		border: 1px solid green;
		min-width: 105px;
		height: 40px;
		background-color: $light-purple;
	}
}