@import '../../node_modules/foundation-sites/scss/foundation';
@import 'objects.scss';

@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;
@include foundation-float-classes;
@include foundation-visibility-classes;
@include foundation-flex-classes;
@include foundation-flex-grid;

$xy-grid : 'false';
body{
	color: green;
	p{
		@include breakpoint (large){
			color: red;
		}
	} 
}