.popeye-modal{
	width: 100%;
	max-width: 640px;
}
.popeye-modal-container{
	background-color: rgba(0,0,0,0.54);
}

.modal-content{
	&__header{
		font-size: 20px;
	}
	&__description{
		color: $glass-grey;
	}
	&__actions-block{
		display: flex;
		justify-content: flex-end;
	}
}